<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>

	<typeAliases>

		<typeAlias type="com.kh.landocProject.member.model.vo.Client" alias="Client" />
		<typeAlias type="com.kh.landocProject.member.model.vo.DrClient" alias="DrClient" />
		<typeAlias type="com.kh.landocProject.askDr.model.vo.AskDrBoard" alias="AskDrBoard" />
		<typeAlias type="com.kh.landocProject.hospitalReview.model.vo.SearchHp" alias="SearchHp" />
		<typeAlias type="com.kh.landocProject.hospitalReview.model.vo.HpReview" alias="HpReview"/>
		<typeAlias type="com.kh.landocProject.cmypage.model.vo.LikeHp" alias="LikeHp" />
		<typeAlias type="com.kh.landocProject.cmypage.model.vo.PdReview" alias="PdReview" />
		<typeAlias type="com.kh.landocProject.admin.hospitalReview.model.vo.AdminHpReview" alias="AdminHpRe"/>
     	<typeAlias type="com.kh.landocProject.admin.hospitalReview.model.vo.SearchCondition" alias="sc"/>
     	<typeAlias type="com.kh.landocProject.admin.hospitalReview.model.vo.AdminHpRePoint" alias="AdminHpRePt"/>
		<typeAlias type="com.kh.landocProject.cmypage.model.vo.OrderList" alias="OrderList" />
		<typeAlias type="com.kh.landocProject.cmypage.model.vo.OrderQna" alias="OrderQna" />
		<typeAlias type="com.kh.landocProject.member.model.vo.DrhpPhoto" alias="DrhpPhoto" />
		<typeAlias type="com.kh.landocProject.askDr.model.vo.SymptomsImage" alias="SymptomsImage" />
		<typeAlias type="com.kh.landocProject.askDr.model.vo.AskDrReply" alias="AskDrReply" />
		<typeAlias type="com.kh.landocProject.cmypage.model.vo.CMypagePoint" alias="CMypagePoint" />
		<typeAlias type="com.kh.landocProject.member.model.vo.ProfilePhoto" alias="ProfilePhoto" />
		<typeAlias type="com.kh.landocProject.admin.member.client.model.vo.ClientPage" alias="ClientPage"/>
		<typeAlias type="com.kh.landocProject.admin.member.client.model.vo.MemberSearchCondition" alias="msc"/>
		<typeAlias type="com.kh.landocProject.admin.member.drClient.model.vo.DrClientPage" alias="DrClientPage"/>
		<typeAlias type="com.kh.landocProject.admin.member.drClient.model.vo.DrClientSearchCondition" alias="dsc"/>
		<typeAlias type="com.kh.landocProject.hospital.model.vo.MainHp" alias="MainHp" />
		<typeAlias type="com.kh.landocProject.admin.askDr.model.vo.AdminAskDrBoard" alias="AdminAskDrBoard" />
		<typeAlias type="com.kh.landocProject.askDr.model.vo.DrClient" alias="searchDrClient" />
		<typeAlias type="com.kh.landocProject.hospital.model.vo.HpSearch" alias="HpSearch" />
		<typeAlias type="com.kh.landocProject.product.model.vo.Product" alias="Product" />
		<typeAlias type="com.kh.landocProject.product.model.vo.ProductPhoto" alias="ProductPhoto" />
		<typeAlias type="com.kh.landocProject.product.model.vo.ProductQna" alias="ProductQna" />
		<typeAlias type="com.kh.landocProject.product.model.vo.ProductReview" alias="ProductReview" />	
		<typeAlias type="com.kh.landocProject.admin.orderQna.model.vo.OrderQna" alias="adOrderQna" />
		<typeAlias type="com.kh.landocProject.admin.order.model.vo.OrderManage" alias="OrderManage" />
		<typeAlias type="com.kh.landocProject.dmypage.model.vo.DPdReview" alias="DPdReview" />
		<typeAlias type="com.kh.landocProject.dmypage.model.vo.DOrderList" alias="DOrderList" />
		<typeAlias type="com.kh.landocProject.dmypage.model.vo.DOrderQna" alias="DOrderQna" />
		<typeAlias type="com.kh.landocProject.dmypage.model.vo.DrMypagePoint" alias="DrMypagePoint" />
	</typeAliases>


	<mappers>
		<mapper resource="/mappers/member-mapper.xml" />
		<mapper resource="/mappers/askDr-mapper.xml" />
		<mapper resource="/mappers/cMypage-mapper.xml" />
		<mapper resource="/mappers/mainHpReview-mapper.xml"/>
		<mapper resource="/mappers/adminHpRe-mapper.xml"/>
		<mapper resource="/mappers/mainHp-mapper.xml"/>
		<mapper resource="/mappers/adminAskDr-mapper.xml"/>
		<mapper resource="/mappers/adminOrderQna-mapper.xml"/>
		<mapper resource="/mappers/adminOrderMg-mapper.xml"/>
		<mapper resource="/mappers/adminClient-mapper.xml"/>
		<mapper resource="/mappers/adminDrClient-mapper.xml"/>
     	<mapper resource="/mappers/product-mapper.xml"/>
     	<mapper resource="/mappers/dMypage-mapper.xml" />
	</mappers>
</configuration>