<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="payMapper">
	<resultMap type="MemberPay" id="ClientResultMap">
		<id property="cNo" column="C_NO"/>
		<result property="userName" column="C_NAME"/>
		<result property="phone" column="C_PHONE"/>
		<result property="email" column="C_EMAIL"/>
		<result property="point" column="C_POINT"/>
		<result property="address" column="C_ADDRESS"/>
		<result property="post" column="C_POSTCODE"/>
	</resultMap>
	
	<resultMap type="MemberPay" id="DrClientResultMap">
		<id property="drNo" column="DR_NO"/>
		<result property="userName" column="DR_NAME"/>
		<result property="phone" column="DR_PHONE"/>
		<result property="email" column="DR_EMAIL"/>
		<result property="point" column="DR_POINT"/>
		<result property="address" column="DR_ADDRESS"/>
		<result property="post" column="DR_POSTCODE"/>
	</resultMap>
	
	<resultMap type="PayProduct" id="payProduct">
		<id property="pdNo" column="PD_NO"/>
		<result property="pdName" column="PD_NAME"/>
		<result property="originPrice" column="ORIGIN_PRICE"/>
		<result property="discount" column="DISCOUNT"/>
		<result property="sellPrice" column="SELL_PRICE"/>
		<!-- <result property="thumbnail" column="THUMBNAIL"/> -->
		<result property="ctCode" column="CT_CODE"/>
		<result property="pdpRename" column="PDP_RENAME"/>
	</resultMap>
	
	<resultMap type="Cart" id="cartMap">
		<result property="cartNo" column="CART_NO"/>
		<result property="renameFile" column="PDP_RENAME"/>
		<result property="pdNo" column="PD_NO"/>
		<result property="pdName" column="PD_NAME"/>
		<result property="cartCount" column="CART_COUNT"/>
		<result property="cNo" column="C_NO"/>
		<result property="drNo" column="DR_NO"/>
		<result property="originPrice" column="ORIGIN_PRICE"/>
		<result property="discount" column="DISCOUNT"/>
		<result property="sellPrice" column="SELL_PRICE"/>
	</resultMap>
	
	<resultMap type="OrderMg" id="orderResultSet">
		<result property="orderNo" column="ORDER_NO"/>
		<result property="cNo" column="C_NO"/>
		<result property="drNo" column="DR_NO"/>
		<result property="oCode" column="O_CODE"/>
	</resultMap>
	
	<!-- 로그인 정보 -->
	<select id="loginClient3" parameterType="MemberPay" resultMap="ClientResultMap">
		SELECT C_NO, C_NAME, C_POINT, C_ADDRESS, C_POSTCODE, C_EMAIL, C_PHONE
		FROM CLIENT
		WHERE C_NO = #{cNo}
	</select>
	<!-- 로그인 정보 -->
	<select id="loginDrClient3" parameterType="MemberPay" resultMap="DrClientResultMap">
		SELECT DR_NO, DR_NAME, DR_POINT, DR_ADDRESS, DR_POSTCODE, DR_EMAIL, DR_PHONE
		FROM DRCLIENT
		WHERE DR_NO = #{drNo}
	</select>
	<!-- 선택한 상품정보 -->
	<select id="selectPro" parameterType="PayProduct" resultMap="payProduct">
		SELECT P.PD_NO, PD_NAME, ORIGIN_PRICE, DISCOUNT, SELL_PRICE, CT_CODE, PDP_RENAME
		FROM PRODUCT P
		LEFT JOIN PRODUCTPHOTO PP ON(P.PD_NO = PP.PD_NO) 
		WHERE P.PD_NO = #{pdNo}
		AND PDP_TYPE = 0
	</select>
	<!-- 포인트 사용시 -->
	<insert id="insertPayment" parameterType="Payment">
		INSERT INTO PAYMENT
		VALUES(SEQ_ORDER_NO.NEXTVAL, SYSDATE, #{amountPrice}, '카카오페이', #{paymentComment}, #{usePoint}, SYSDATE, #{cNo}, #{drNo})
	</insert>
	<!-- 포인트 사용안할시 -->
	<insert id="insertPayment1" parameterType="Payment">
		INSERT INTO PAYMENT
		VALUES(SEQ_ORDER_NO.NEXTVAL, SYSDATE, #{amountPrice}, '카카오페이', #{paymentComment}, #{usePoint}, null, #{cNo}, #{drNo})
	</insert>
	<!-- 주문관리 -->
	<insert id="insertOrderMg" parameterType="OrderMg">
		INSERT INTO ORDERMG
		VALUES(SEQ_ORDERMG_NO.NEXTVAL, #{cNo}, #{drNo}, 2)
	</insert>
	<!-- 상품 주문 -->
	<insert id="insertOrderPro" parameterType="OrderProduct">
		INSERT INTO ORDERPRODUCT
		VALUES(#{pdNo}, SEQ_ORDERPRO_NO.NEXTVAL, #{opCount})
	</insert>
	<!-- 일반회원 포인트 차감 -->
	<update id="updateC" parameterType="Payment">
		UPDATE CLIENT
		SET C_POINT = C_POINT - #{usePoint}
		WHERE C_NO = #{cNo}
	</update>
	<!-- 의사회원 포인트 차감 -->
	<update id="updateDr" parameterType="Payment">
		UPDATE DRCLIENT
		SET DR_POINT = DR_POINT - #{usePoint}
		WHERE DR_NO = #{drNo}
	</update>
	<select id="selectCartList" parameterType="string" resultMap="cartMap">
		SELECT C.CART_NO,
		PH.PDP_RENAME,
		P.PD_NO,P.PD_NAME,
		C.CART_COUNT,
		C.C_NO,
		C.DR_NO,
		P.ORIGIN_PRICE,
		P.DISCOUNT,
		P.SELL_PRICE
		FROM CART C
		JOIN PRODUCT P ON(C.PD_NO=P.PD_NO)
		JOIN PRODUCTPHOTO PH ON(P.PD_NO=PH.PD_NO)
		WHERE 
		C.C_NO=#{cNo}
		AND PH.PDP_TYPE=0
	</select>
	
	<insert id="cartInsert" parameterType="hashMap">
	<if test="cNo!=null">
		INSERT INTO CART VALUES(SEQ_CART.NEXTVAL,#{count},null,#{cNo},#{pdNo})
	</if>
	<if test="drNo!=null">
		INSERT INTO CART VALUES(SEQ_CART.NEXTVAL,#{count},#{drNo},null,#{pdNo})
	</if>
	</insert>
	
	<update id="cartUpdate" parameterType="hashMap">
		UPDATE CART SET CART_COUNT=#{count}+#{cartCount} WHERE 
		<if test="cNo !=null">C_NO=#{cNo}</if> 
		<if test="drNo !=null">DR_NO=#{drNo}</if> 
		AND PD_NO=#{pdNo}
	</update>
	

	<delete id="deleteCart" parameterType="_int">
		DELETE FROM CART WHERE CART_NO=#{cartNo}
	</delete>

	<select id="selectPayOrderNo" resultType="_int">
		SELECT ORDER_NO
		FROM(SELECT ORDER_NO
				FROM ORDERMG
				ORDER BY ROWNUM DESC)
		WHERE ROWNUM = 1
	</select>
	
	<insert id="cartPaySuccess" parameterType="hashMap">
		<foreach collection="list" item="cp" index="index" separator=" " open="INSERT ALL" close="SELECT * FROM DUAL">
			INTO ORDERPRODUCT
			VALUES(#{cp.pdNo}, #{cp.orderNo}, #{cp.opCount})
		</foreach>
	</insert>
	
	<delete id="cartDelete" parameterType="hashMap">
		DELETE FROM CART
		<where>
			<foreach collection="list" item="delete" open="" close="" separator="OR">
				(C_NO = #{delete.cNo} AND PD_NO = #{delete.pdNo})
			</foreach>
		</where>
	</delete>
	
	<delete id="cartDeleteD" parameterType="hashMap">
		DELETE FROM CART
		<where>
			<foreach collection="list" item="delete" open="" close="" separator="OR">
				(DR_NO = #{delete.drNo} AND PD_NO = #{delete.pdNo})
			</foreach>
		</where>
	</delete>
	
	<select id="selectDrCartList" parameterType="string" resultMap="cartMap">
		SELECT C.CART_NO,
		PH.PDP_RENAME,
		P.PD_NO,P.PD_NAME,
		C.CART_COUNT,
		C.C_NO,
		C.DR_NO,
		P.ORIGIN_PRICE,
		P.DISCOUNT,
		P.SELL_PRICE
		FROM CART C
		JOIN PRODUCT P ON(C.PD_NO=P.PD_NO)
		JOIN PRODUCTPHOTO PH ON(P.PD_NO=PH.PD_NO)
		WHERE 
		C.DR_NO=#{drNo}
		AND PH.PDP_TYPE=0
	</select>
	
	<select id="selectC" parameterType="MemberPay" resultMap="ClientResultMap">
		SELECT * 
		FROM CLIENT
		WHERE C_NO = #{cNo}
	</select>
	
	<select id="selectD" parameterType="MemberPay" resultMap="DrClientResultMap">
		SELECT * 
		FROM DRCLIENT
		WHERE DR_NO = #{drNo}
	</select>
	
</mapper>